service leaf3-epdc-bridge /system_ext/bin/leaf3_epdc_bridge
    class late_start
    user system
    group graphics input
    disabled

on property:sys.boot_completed=1
    restorecon /dev/ebc
    chown system graphics /dev/ebc
    chmod 0660 /dev/ebc
    chown system graphics /sys/bus/i2c/drivers/cyttsp5_i2c_adapter/unbind
    chmod 0660 /sys/bus/i2c/drivers/cyttsp5_i2c_adapter/unbind
    chown system graphics /sys/bus/i2c/drivers/cyttsp5_i2c_adapter/bind
    chmod 0660 /sys/bus/i2c/drivers/cyttsp5_i2c_adapter/bind
    start leaf3-epdc-bridge
